body, html {
    height: 100%;
    margin: 0;
}

.separator {
    background: white; 
    height: 1%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

/* ========================================== Home section: =================================================== */

.home {
    background: url("images/home.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.navigation-list {
    list-style: none;
    text-align: center;
    margin: 4vh 0 0 0;
}

.navigation-item {
    
    display: inline;
    margin: 0 2em;
}

.navigation-text {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

#main-header {
    color: white;
    font-family: sans-serif;
    font-size: 6em;

    margin: 30vh 0 0 10vw;
}

#lorem-1 {
    color: white;
    font-family: sans-serif;
    margin: 0 0 0 10vw;
    line-height: 1.5em;
}

#buttons {
    margin: 5vh 0 0 10vw;
    display: flex;
    flex-direction: row;
}
#get-started {
    width: 10vw;
    height: 5vh;
    background: #ea0445;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 1.3em;

    transition: all 0.2s ease;
}


#get-started:hover {
    width: 10vw;
    height: 5vh;
    background: white;
    border: 1px solid white;
    border-radius: 25px;
    color: #ea0445;
    font-size: 1.3em;

}

#learn-more {
    width: 10vw;
    height: 5vh;
    background: rgba(0,0,0,0);
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 1.3em;
    margin: 0 0 0 2vw;

    transition: all 0.2s ease;

}

#learn-more:hover {
    background: white;
    color: #ea0445;
}
/*===================================== Section 01: ===============================================*/


.section01 {
    background: url("images/section01.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;
}

#section01-header {
    color: white;
    font-family: sans-serif;
    font-size: 6em;
    margin: 15vh 0 0 0;
}

#section01-lorem {
    color: white;
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: center;
}

/*=================================== Section 02 ====================================================*/

.section02 {
    background: url("images/section02.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;

}

#section02-header {
    color: white;
    font-family: sans-serif;
    font-size: 6em;
    margin: 20vh 0 0 60vw;
}

#section02-lorem {
    margin: 0 0 0 61vw;
    color: white;
    font-family: sans-serif;
    line-height: 1.5em;
}

/*==================================== Section 03 =======================================================*/

.section03 {
    background: url("images/section03.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;

}

#section03-header {
    color: white;
    font-family: sans-serif;
    font-size: 6em;
    margin: 10vh 0 0 0;
}

.box-for-boxes {
    width: 70vw;
    height: 50vh;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.minibox {
    background: white;
    width: 20vw;
    height: 40vh;
    margin: 0 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-header {
    color: black;
    font-family: sans-serif;

}

.box-lorem {
    margin: 0 3vw;
    text-align: center;
}
/*=================================== Footer ===========================================================*/

.footer {
    background: black;
    height: 25%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;
    justify-content: center;
}

#copyright-text {
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
}