body, html {
    height: 100%;
    margin: 0;
}

.home {
    background: url("images/home.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.navigation-list {
    list-style: none;
    text-align: center;
}

.navigation-item {
    
    display: inline;
    margin: 0 2em;
}

.navigation-text {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
