body {
    background: url("image01.jpg");
}

.menu {
    position: fixed;
    list-style-type: none;
    text-align: center;
}

.menu-item {
    margin: 0px 2vw;
    display: inline-block;
}

.link {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
